<?xml version="1.0"?>
<Settings>
  <SettingOption id="first_run" type="bool" value="True" />
  <SettingOption id="language" type="str" value="ko_KR" />
  <SettingOption id="folderpath" type="str" value="" />
  <SettingOption id="tableitem1" type="str" value="" />
  <SettingOption id="tableitem2" type="str" value="" />
  <SettingOption id="tableitem3" type="str" value="" />
  <SettingOption id="tableitem4" type="str" value="" />
  <SettingOption id="tableitem5" type="str" value="" />
  <SettingOption id="tableitem6" type="str" value="" />
  <SettingOption id="tableitem7" type="str" value="" />
  <SettingOption id="tableitem8" type="str" value="" />
  <SettingOption id="realtime_update" type="bool" value=""/>
  <SettingOption id="font" type="str" value=""/>
  <SettingOption id="text_location" type="int" value=""/>
  <SettingOption id="align" type="int" value=""/>
  <SettingOption id="mark_size" type="int" value=""/>
  <SettingOption id="mark_size_type" type="int" value=""/>
  <SettingOption id="mark_location" type="int" value=""/>
  <SettingOption id="mark_custom_x" type="int" value=""/>
  <SettingOption id="mark_custom_y" type="int" value=""/>
  <SettingOption id="mark_custom_type" type="int" value=""/>
  <SettingOption id="orientation" type="int" value=""/>
  <SettingOption id="type" type="int" value=""/>
  <SettingOption id="alpha" type="int" value=""/>
</Settings>