<?xml version="1.0"?>
<Settings>
  <SettingOption id="language">ko_KR</SettingOption>
  <SettingOption id="tableitem1"></SettingOption>
  <SettingOption id="tableitem2"></SettingOption>
  <SettingOption id="tableitem3"></SettingOption>
  <SettingOption id="tableitem4"></SettingOption>
  <SettingOption id="tableitem5"></SettingOption>
  <SettingOption id="tableitem6"></SettingOption>
  <SettingOption id="tableitem7"></SettingOption>
  <SettingOption id="tableitem8"></SettingOption>
  <SettingOption id="realtime_update"></SettingOption>
  <SettingOption id="text_location"></SettingOption>
  <SettingOption id="align"></SettingOption>
  <SettingOption id="mark_location"></SettingOption>
  <SettingOption id="mark_custom_x"></SettingOption>
  <SettingOption id="mark_custom_y"></SettingOption>
  <SettingOption id="mark_custom_type"></SettingOption>
  <SettingOption id="orientation"></SettingOption>
  <SettingOption id="type"></SettingOption>
</Settings>